node_modules
.next
out
dist
build
coverage
*.log
*.log.*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# TypeScript build cache
*.tsbuildinfo

# Misc
.vercel
